<form (ngSubmit)="formPrevent($event)">
  <p>Notre IA peut detecter les avions suivants: A320, A380, BELUGA, BOING777, CONCORDE  </p>
  Selectionnez une image d'avion à uploader:
  <input type="file" (change)="onPlaneFileChanged($event)">
  <button (click)="onPlaneUpload($event)" accept="image/x-png,image/jpeg" mat-raised-button color="primary">
    Qu'elle est cette avion ?
  </button>
</form>
<p *ngIf="planeloading">LOADING !!!!!!</p>
<p>L'avion est un {{lastPlaneDetection}}</p>

<form (ngSubmit)="formPrevent($event)">
  <p>Notre IA peut detecter les types de musique suivantes: Rap, Psytrance, Techno, Classique, Raggae  </p>
  Selectionnez un son à uploader:
  <input type="file" (change)="onSongFileChanged($event)">
  <button (click)="onSongUpload($event)" accept="audio/mpeg3" mat-raised-button color="primary">
    Qu'elle est ce son ?
  </button>
</form>
<p *ngIf="songloading">LOADING !!!!!!</p>
<p>Ce son est un {{lastSongDetection}} </p>
